<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Get student details</h2>
        <form action="/display">
            {% csrf_token %}
            <table border="1px soild">
                <tr><td>Name <input type="text" name="name"></td></tr>
                <tr><td><input style="display: block;  margin: auto;" type="submit" value="submit"></td></tr>
            </table>
        </form>
    </center>
</body>
</html> 